.product{
    max-width: 250px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid orangered
}
.product-name{
    margin: 0.4em;
    color: orangered;
    font-size: 2.5em;
}
.product-category{
    margin: 0;
    font-size: 1.2em;
}
.product-price{
    margin: 0.8em;
    font-size: 2.5em;
}
.product-addtocart{
    background-color: orangered;
    color: white;
    padding: 10px;
}